{% extends 'base.html' %}

{% block title %}
    Задачи
{% endblock %}

{% block user_img %}
    ../static/{{ user_img }}
{% endblock %}

{% block user_fio %}
    {{ user_fio }}
{% endblock %}

{% block user_role %}
    {{ user_role }}
{% endblock %}

{% block body %}
    <div class="container task-list">
    {% if tasks is not none %}
            {% for task in tasks %}
                <div class="task">
                    <h3><a href="{{ url_for('show_task', task_id=task.TaskId) }}">{{ task.Title }}</a></h3>
                    <p>{{ task.Desc }}</p>
                    {% if task.Deadline is not none %}
                        <p>Срок выполнения: {{ task.Deadline }}</p>
                    {% else %}
                        <p>Без срока выполнения</p>
                    {% endif %}
                </div>
            {% endfor %}
    {% else %}
        <p>Список задач пуст</p>
    {% endif %}
    </div>
{% endblock %}
